@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap')


$dark-gray: #a9a9a9
$not-white: #efefef
$red: #ff3b3f
$blue: #90e9fb



*
  box-sizing: border-box
  transition: all 200ms ease-in-out

html
  font-size: 16px

body
  padding: 0
  margin: 0
  font-family: 'Major Mono Display', monospace
  line-height: 1.5

.app
  min-height: 100vh
  padding: 1.5em
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background: $dark-gray
  color: $not-white
  border: 0.375em solid $red

h2
  font-size: 1.5rem
  color: $not-white
  text-align: center
  @media screen and (min-width: 600px)
    font-size: 2rem

.timer
  color: $blue
  display: flex
  font-size: 8vw
  margin: 0.5em 0 0.75em
  span, input
    font-size: 16vw
    text-shadow: 2px 2px 0px black
    @media screen and ( min-width: 600px)
      text-shadow: 3px 3px 0px black
  span
    &:not(.colon)
      align-self: center
      font-size: 8vw
      font-weight: bold
    &.colon
      margin-top: -0.25em
  input
    background-color: $dark-gray
    border: none
    border-bottom: 8px solid transparent
    color: $blue
    cursor: pointer
    font-family: 'Major Mono Display', monospace
    font-weight: bold
    padding: 0
    width: 27vw
    &:disabled
      cursor: not-allowed
    &::placeholder
      opacity: 1
    &::-webkit-input-placeholder
      color: $blue
      opacity: 1
    &:focus
      border: none
      border-bottom: 8px solid $red
      outline: none
      &::placeholder
        opacity: 0.5
      &::-webkit-input-placeholder
        opacity: 0.5

.buttons
  button
    outline: none
    border: none
    font-size: 4vw
    background: $not-white
    color: $red
    border-radius: 0.1667em
    padding: 0.6667em 1.3334em
    cursor: pointer
    &:hover
      background: $red
      color: $not-white
    &:focus
      box-shadow: 0 0 0 0.1667em $dark-gray, 0 0 0 0.3334em black
    &:active

button + button
  margin-left: 1.5em
